*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Remove estilos padrão de lista */
ul,
ol {
  list-style: none;
}

/* Remove decoração de links */
a {
  text-decoration: none;
  color: inherit;
}