<div class="containerQuestion flexColumn">
    <div class="questionAction">
        <div>
            <img src="/images/logo/small-black-logo.png" alt="Logo do Vitrina">
        </div>
        <h2 class="questionText">Como você quer comecar?</h2>
    
        <button routerLink="/auth/register/create-agency">Criar uma agencia</button>
        <span>ou</span>
        <button routerLink="/auth/register/join-agency">Participar de uma agencia existente</button>
        <div class="dividerButtons"></div>
        <span>Já tem conta? <a routerLink="/auth/login" class="navigateText">Entrar</a></span>
    </div>
</div>