<div class="containerJoinAgency">
    <div class="containerJoinLogoVitrina">
        <img src="/images/logo/small-black-logo.png" alt="Logo do Vitrina" class="logoForms" />
    </div>
    <div class="containerJoinAgencyForm">
        <h2>Preencha com o token de convite e venha fazer parte de uma vitrine</h2>

        <form class="containerFormJoin" [formGroup]="validToken" (ngSubmit)="onSubmit()">
            <div class="containerToken flecColumn">
                <label for="Token">Token</label>
                <input type="text" name="" id="" placeholder="AAA-000">
            </div>

            <div class="dividerForm"></div>
            <button>Validar token</button>
        </form>

    </div>
</div>