<div class="containerLogin">
    <div><img src="/images/logo/small-black-logo.png" alt="Logo do Vitrina"></div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="containerForm">

        <h2 class="welcomeText">Seja bem-vindo</h2>

        <div class="containerEmail flexColumn">
            <label>email</label>
            <input type="email" formControlName="email" placeholder="vitrina@gmail.com" [(ngModel)]="email">
        </div>
        <div class="containerPassword flexColumn">
            <label>senha</label>
            <input type="password" formControlName="password" placeholder="password" [(ngModel)]="password">
        </div>
        
        <div *ngIf="errorMessage" class="errorAlert">{{errorMessage}}</div>

        <button type="submit" [disabled]="isLoading" (click)="login()">
            {{ isLoading ? 'Entrando...': 'Entrar'}}
        </button>
        <div class="dividerForm"></div>
        <span>Novo por aqui? <a routerLink="/auth/register" class="navigateText">Venha fazer parte</a></span>

    </form>
</div>